/*our advantages*/

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;
  margin-bottom: 50px;
}

.title {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-light-theme-color;
}

.primery-item {
  width: 70px;
  height: 70px;
}

.primery-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
}

.primery {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .conteiner {
    display: block;
  }

  .primery-svg {
    text-align: center;
  }

  .primery {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    justify-content: center;
  }

  .title {
    justify-content: center;
  }

  .size:not(:last-child) {
    margin-bottom: 30px;
  }

  .first-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .first-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .primery {
    display: flex;
    flex-wrap: wrap;
  }

  .size {
    width: 354px;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .item {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .primery {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 94px;
    justify-content: center;
  }

  .size {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .primary-margin:not(:last-child) {
    margin-right: 30px;
  }
}
