/*clients*/

.piple {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.imeges {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  fill: $secondary-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .piple {
    flex-wrap: wrap;
  }

  .svg-clients {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  .imeges {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .piple {
    flex-wrap: wrap;
  }

  .imeges {
    width: 226px;
  }
  .svg-clients {
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .svg-clients:not(:last-child) {
    margin-right: 30px;
  }
}
