/*footer*/

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-dark-theme-color;
  text-decoration: none;
}

.footer-adres {
  // @extend %footer-info-adres-configuration;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-dark-theme-color;
  text-decoration: none;
  color: $title-dark-theme-color;
  padding-top: 9px;
}

.soc-title {
  fill: $title-dark-theme-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.action,
.action-class {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-dark-theme-color;
}

.button-footer {
  // @extend %btn-main-configuration;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $title-dark-theme-color;
}

.input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.button-twit {
  margin-left: 10px;
}

.footer-info {
  // @extend %footer-info-adres-configuration;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-dark-theme-color;
  margin-top: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  .conteiner {
    display: flex;
    align-items: baseline;
  }
}

.socsiec {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
}
.soc-list:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer-nav {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .footer-action {
    text-align: center;
    margin-bottom: 60px;
  }

  .footer .conteiner {
    display: block;
  }

  .socsiec {
    justify-content: center;
  }

  .footer-form {
    display: block;
    text-align: center;
  }

  .action-class {
    display: flex;
    text-align: center;
  }

  .button-footer {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav {
    margin-right: 69px;
  }

  .footer-action {
    margin-right: 155px;
  }
}
