/*HEADER*/

.heder {
  border-bottom: 1px solid #ececec;
  .conteiner {
    display: flex;
    position: relative;
  }
}

.logo-decorait {
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.logo {
  @extend %logo-style;

  .logo-studio {
    @extend %logo-style;
    margin-right: 85px;
    color: $title-light-theme-color;
  }
}

.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-light-theme-color;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.info-kontakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-theme-color;
  text-decoration: none;
}

.info-kontakt {
  fill: $text-theme-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .heder {
    max-width: 480px;
    margin: 0 auto;
  }

  .heder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-close {
    display: none;
  }

  .menu-button {
    background-color: transparent;
    border: none;

    &.is-open {
      .icon-close {
        display: block;
      }

      .icon-burger {
        display: none;
      }
    }
  }

  .menu-wrapper {
    display: none;
    position: absolute;
    text-align: center;
    background-color: $title-dark-theme-color;
    top: 100%;
    right: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    &.is-open {
      display: block;
    }
  }

  /*navigation*/

  .link {
    padding: 0;
    margin: 0 auto;
  }

  .studio {
    padding-bottom: 52px;
  }

  .portfolio {
    padding-bottom: 40px;
  }

  .current-effect {
    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      left: 44%;
      top: -10px;
      width: 61px;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
      transform: translateY(32px);
    }
  }

  .general {
    position: relative;
  }

  .info {
    padding: 0;
    margin: 0;
  }

  .info-menu {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .info-item:not(:last-child) {
    padding-bottom: 16px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .logo-decorait {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .link {
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 81px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .menu-wrapper {
    display: flex;
  }

  .navigation {
    display: flex;
  }

  .link-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-light-theme-color;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current-effect {
    &::after {
      content: "";
      position: absolute;
      left: 30%;
      top: 56%;
      width: 61px;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
      transform: translateY(32px);
    }
  }

  .general:not(:last-child) {
    margin-right: 50px;
  }

  .icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  .info-kontakt {
    display: flex;
  }

  .info {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 1199px) {
  .heder {
    min-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .logo-decorait {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  /*navigation*/

  .navigation {
    display: flex;
  }

  .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
  }

  .current-effect::after {
    content: "";
    position: absolute;
    left: 19%;
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    transform: translateY(32px);
  }

  .icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  .info-kontakt {
    fill: $text-theme-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  .info {
    padding-left: 305px;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .info-item {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
