/*team*/

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;

  .size-two {
    background-color: $title-dark-theme-color;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 24px;
}

.group-list:not(:last-child) {
  margin-right: 10px;
}

.group-title {
  fill: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $title-dark-theme-color;
    border-radius: 50%;
  }
}

/*our team*/
.employees {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;
  margin-top: 30px;
  margin-bottom: 10px;
}

.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
