/*WORKING*/

.employment {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.size-two {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.what-we-do-image {
  display: block;
}

.title-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.comand {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
