$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$title-dark-theme-color: #ffffff;
$title-light-theme-color: #212121;
$text-theme-color: #757575;
$text-dark-theme-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$secondary-color: #afb1b8;
